@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.btn-btn-small-green{
    background-color: #4CAF4F;
    color: #FFFFFF;
    width: 91px;
    height: 40px;
    border-radius: 6px;
    padding: 10px, 20px, 10px, 20px;
    border: none;
    cursor: pointer;
}

.btn-btn-medium-green{
    text-decoration: none;
    list-style-type: none;
    color: #F5F7FA;
    background-color: #4CAF4F;
    color: #FFFFFF;
    width: 91px;
    height: 40px;
    border-radius: 6px;
    padding: 10px, 20px, 10px, 20px;
    border: none;
    cursor: pointer;
}

.btn-btn-normal-green{
    text-decoration: none;
    list-style-type: none;
    color: #F5F7FA;
    background-color: #4CAF4F;
    width: 151px;
    height: 52px;
    border-radius: 6px;
    padding: 10px, 20px, 10px, 20px;
    border: none;
    cursor: pointer;
}

#header{
    background-color: #F5F7FA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84px;
}

#left{
    flex: 1;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#middle{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

#middle > ul{
    width: 588px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#middle > ul > li{
    font-size: 16px;
    font-weight: 500;
    size: 16px;
    line-height: 24px;
    list-style-type: none;

}

a{
    text-decoration: none;
    list-style-type: none;
    color: #18191F;
}


#main-logo{
    width: 154.49px;
    height: 24px;
}

.button{
    background-color: #4CAF4F;
    color:#FFFFFF;
}

#login-btn{
    background-color: #F5F7FA;
    color: #4CAF4F;
    width: 77px;
    height: 40px;
    border-radius: 6px;
    padding: 10px, 20px, 10px, 20px;
    border: none;
    cursor: pointer;
}

#signup-btn{
    width: 91px;
    height: 40px;
    border-radius: 6px;
    padding: 10px, 20px, 10px, 20px;
    border: none;
    cursor: pointer;
}