@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
    margin: 0;
}


#clients{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 190px;
    margin-top: 45px;
    margin-bottom: 50px;
}

#client-info{
    width: 100%;
    height: 76px;
    gap: 8px;
    margin-bottom: 22px;
}

#client-logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 98px;
    width: 1152px;
}

.title{
    text-align: center;
    color: #4D4D4D;
    font-weight: 700;
    font-size: 28px;
}

#client-info > h2{
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

.description{
    text-align: center;
    color: #717171;
    font-weight: 400;
    font-size: 14px;
}


#community{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#community-info > h2{
    width: 542px;
    height: 88px;
    font-size: 36px;
    padding-bottom: 8px;
}

#community-info > p{
    height: 24px;
    width: 100%;
    font-size: 16px;
}

.cardsec1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 267px;
    height: 144px;
    text-align: center;
    margin-left:10px;
    margin-bottom: 16px;
}

#community-cards{
    display: grid;
    grid-template-columns: 299px 299px 1fr;
    gap: 127px;
    width: 1440px;
    height: 280px;
    margin-top: 40px;
    margin-left: 299px;
    padding: 0px, 144px, 0px, 144px;

}
.community-cards{
    width: 299px;
    height: 260px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px #ABBED133;
}

#app-section{
    width: 1440px;
    height: 433px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 48px;
    
}

#app-section-left > img{
    width: 442px;
    height: 328.99px;
    margin-top: 52px;
    margin-bottom: 52px;
    margin-right: 144px;
    margin-left: 200px;
}

#app-section-right{
    margin-left: 100px;
    text-align: left;
    width: 661px;
    height: 268px;
}

#app-section-right > h2{
    font-size: 36px;
    width: 601px;
    height: 88px;
    margin-bottom:16px;
    text-align: left;
}

#app-section-right > p{
    width: 601px;
    height: 80px;
    text-align: left;
    margin-bottom: 32px;
}

#learnmore-btn{
    margin-top: 32px;
}

/*Local Business Section*/

#local-business{
    background-color: #F5F7FA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 288px;

}

#local-business-left{
    width: 540px;
    height: 120px;
}

#local-business-left > h2{
    text-align: left;
    height: 88px;
    width: 408px;
    gap: 8px;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}

#local-business-left > h2 > span{
    color: #4CAF4F;
    font-weight: 600;
}

#local-business-left > p{
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color: #18191F;
}

#local-business-right{
    width: 540px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.right-top-business{
    margin-bottom: 40px;
}

.right-top-business, .right-bottom-business{
    width: 540px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grp{
    width: 255px;
    height: 60px;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

#u-grp{
    margin-left: 15px;
    padding-right: 85px;
}

#count{
    display: flex;
    flex-direction: column ;
}

.count{
    color: #4D4D4D;
    font-size: 28px;
    font-weight: 700;
}

.count-description{
    color: #717171;
    font-weight: 400;
    font-size: 16px;
}

/*Customer Section*/

#customer-section{
    background-color: #F5F7FA;
    height: 390px;
    gap: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tesla-image{
    width: 326px;
    height: 326px;
    border-radius: 8px;
}

#customer-right{
    width: 748px;
    height: 324px;
    gap: 32px;
}

#customer-text-section{
    text-align: left;
    width: 748px;
    height: 244px;
    gap: 32px;
    margin-bottom: 10px;
}

.customer-description{
    margin-bottom: 16px;
    color: #717171;
    font-size: 16px;
    font-weight: 500;
}

.name{
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 20px;
    color: #4CAF4F;
}

.customer-description2{
    margin-bottom: 16px;
    color: #717171;
    font-size: 16px;
    font-weight: 400;
}

#customer-logo-section{
    width: 748px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#customer-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4CAF4F;
    font-weight: 600;
    font-size: 20px;
}

#right-arrow{
    margin-left: 10px;
    width: 24px;
    height: 24px;
}

/*Marketing Section*/

#marketing{
    display: flex;
    justify-content: center;
    height: 508px;
    gap: 16px;
}

#marketing-text{
    text-align: center;
    width: 1110px;
    height: 124px;
    gap: 8px;
}

#marketing-title{
    font-size: 38px;
    font-weight: 600;
    color: #4D4D4D;
}

#marketing-description{
    text-align: center;
    width: 628px;
    height: 72px;
    font-size: 16px;
    font-weight: 400;
    color: #717171;
    margin-top: 20px;
}

#description-marketing{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1110px;
    height: 124px;
}



/*Addtional Part*/
    .community-updates
    {
        display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 30px;
    }

    .update-details {
        display: flex;
    width: 69.375rem;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    }

    .update-header {
        color: #4D4D4D;
    text-align: center;


    font-family: "Inter";
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.75rem; 
    }

    .update-text {
        color: #717171;
    text-align: center;


    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; 
    width: 39.25rem;
    }

    .update-frame {
        display: flex;
    padding: 0rem 9rem;
    justify-content: space-between;
    align-items: center;
    gap:2.5rem;
    flex-wrap: wrap;
    }

    .frame-box {
        display: flex;
    flex-direction: column;
    align-items: center;
    gap: -6rem;
    }

    .box-content {
        padding: 10px;
        display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    background: #F5F7FA;
    z-index:2;
    transform: translate(0rem,-6.8rem);
    box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.40);
    }

    .box-content-text {
        color: #717171;
    text-align: center;


    font-family: "Inter";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem; 
    width: 17.8125rem;
    }

    .readmore-update {
        display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
    }

    .readmore-button {
        color: #4CAF4F;
    font-family: "Inter";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem; 
    }

    .readmore-arrow {
        display: flex;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.5rem 0.3125rem 0.5rem 0.27588rem;
    justify-content: center;
    align-items: center;
    }
/**/

/*Demo Section*/

#demo{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F5F7FA;
    height: 300px;
}

#demo-title{
    height: 152px;
    width: 887px;
    font-weight: 600;
    font-size: 64px;
    color: #263238;
    margin-bottom: 32px;
}

#demo-button{
    text-align: center;
    border: none;
    border-radius: 4px;
    width: 178px;
    height: 52px;
    gap: 8px;
    color: #F5F7FA;
    background-color: #4CAF4F;
}

#demo-link{
    color: #F5F7FA;
}

#arrow{
    width: 16px;
    height: 16px;
    background-color: #F5F7FA;
}

/*Footer Section*/

footer{
    background-color: #263238;
    height: 328px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#left-footer{
    text-align: left;
    width: 350px;
    height: 189.67px;
}

#left-footer img{
    width: 191px;
    height: 29.67px;
    margin-bottom: 40px;
}

#left-footer p{
    width: 350px;
    height: 48px;
    color: #F5F7FA;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
    opacity: 80%;
}

#social-media{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 176px;
    height: 32px;
}

.social-media-logos{
    width: 32px;
    margin-right: 16px;
    cursor: pointer;
}

#footer-details1, #footer-details2{
    width: 160px;
    height: 200px;
    text-align: left;
}

#right-footer{
    display: flex;
}

.footer-h1{
    width: 160px;
    height: 28px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

#right-footer li{
    list-style-type: none;
    color: #F5F7FA;
    opacity: 80%;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 12px;
}

#footer-details3{
    width: 290px;
    height: 92px;
    padding-bottom: 24px;
}

.input{
    width: 255px;
    height: 40px;
    border-radius: 8px;
    opacity: 20%;
    background-color: #FFFFFF;
}

input[type="email"]{
    border: none;
    border-radius: 8px;
    width: 265px;
    text-align: center;
    height: 40px;
    margin-left: 0px;
    color: #FFFFFF;
}


#send-button{
    color: #FFFFFF;
    cursor: pointer;
    width: 20px;
    height: 20px;
    
    
}
.label{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}
.send{
    margin-left: 15px;
}

